h1 {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin: auto auto 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  padding: 10px 10px 0;
}

mat-form-field + mat-form-field {
  margin-left: 8px;
}

.arrows {
  color: var(--main-color);
}

.arrows:hover {
  cursor: pointer;
  color: var(--main-color-hover);
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

table {
  width: 100%;
}

.no-data-row {
  width: 100%;
  display: contents;
  text-align: center;
}

.no-data-row > td {
  width: 100%;
}

.no-data-row > td:hover {
  cursor: default;
  color: black !important;
  background: none !important;
}

tr {
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

tr:hover {
  color: black !important;
}

td, th {
  width: 100%;
  padding: 10px;
}

td {
  border-radius: 10px;
}

td:hover {
  cursor: pointer;
  color: white !important;
  background-color: var(--main-color-hover);
}
