<form class="form" #form="ngForm" novalidate>

  <h1 class="input-data">Edycja użytkownika</h1>

  <div class="left-right-column-container">

    <div class="left-column">

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Imię</mat-label>
          <input matInput [(ngModel)]="user.firstName" name="firstName" pattern="[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ]{1,20}" type="text" required
                 #firstName="ngModel">
          <span class="error-span" *ngIf="firstName.errors">Imię musi składać się tylko z liter</span>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Nazwisko</mat-label>
          <input matInput [(ngModel)]="user.lastName" name="lastName" pattern="[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ]{1,20}" type="text" required
                 #lastName="ngModel">
          <span class="error-span" *ngIf="lastName.errors">Nazwisko musi składać się tylko z liter</span>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" style="display:inline-block" [(ngModel)]="user.email"
                 required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #mail="ngModel"/>
          <span class="error-span" *ngIf="mail.errors">Poprawny format adresu e-mail np: mail@mail.com</span>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Pesel</mat-label>
          <input matInput type="text" name="pesel" style="display:inline-block" [(ngModel)]="user.pesel"
                 required pattern="[0-9]{11}" #pesel="ngModel"/>
          <span class="error-span" *ngIf="pesel.errors">Pesel musi zawierać 11 znaków</span>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field appearance="fill" >
          <mat-label>Role użytkownika</mat-label>
          <mat-select [formControl]="selectedRoles" multiple>
            <mat-option *ngFor="let role of roles" [value]="role.value" >{{role.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="right-column">

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Ulica</mat-label>
          <input matInput type="text" name="street" [(ngModel)]="user.street"/>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Nr domu</mat-label>
          <input matInput type="text" name="streetNumber" [(ngModel)]="user.streetNumber"/>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Kod Pocztowy</mat-label>
          <input matInput type="text" name="postalCode" mask="00-000" style="display:inline-block" [(ngModel)]="user.postalCode"
                 #postalCode="ngModel"/>
          <span class="error-span" *ngIf="postalCode.errors">Kod pocztowy musi zawierać 6 znaków</span>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Miasto</mat-label>
          <input matInput type="text" name="city" [(ngModel)]="user.city"/>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field appearance="fill">
          <mat-label>Numer telefonu</mat-label>
          <input matInput type="text" name="phoneNumber" mask="000 000 000" style="display:inline-block" [(ngModel)]="user.phoneNumber"
                 onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                 #phoneNumber="ngModel"/>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div class="button-container">
    <button mat-raised-button (click)="cancel()" name="cancel" class="button app-button">Anuluj</button>
    <button mat-raised-button (click)="saveUser()" [disabled]="form.invalid" name="save" class="button app-button">
      Zapisz
    </button>
  </div>

</form>
