<div>
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Szukaj..." #input>
  </mat-form-field>
</div>

<div class="button-container">
  <button mat-raised-button (click)="editUser()"
          [disabled]="isRowSelected()"
          class="button app-button">
    Edytuj użytkownika
  </button>
  <button
    mat-raised-button
    [disabled]="isRowSelected()"
    (click)="deleteUserConfirmation(selectedRow)"
    class="button app-button">
    Usuń użytkownika
  </button>
</div>

<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource">
  <ng-container *ngFor="let dispCol of displayedColumns; let colIndex = index" matColumnDef="{{dispCol.value}}">
    <th mat-header-cell *matHeaderCellDef>{{dispCol.label}}</th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="{ 'selected-cell': element === selectedRow }">{{element[dispCol.value]}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsKeys" (click)="selectRow(row)" class="table-row"
      [ngClass]="{ 'selected-row': row === selectedRow }"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nie znaleziono żadnych danych użytkownika po szukanej frazie: "{{input.value}}"
    </td>
  </tr>
</table>
