<ng-container *ngIf="annotations.length > 0;else noAnnotations">
  <table>
    <ng-container *ngFor="let annotation of annotations">
      <tr>
        <td [class]="annotation.readed ? 'readed-annotation' : 'unreaded-annotation'"
            class="message"
            (click)="openAnnotationDetail(annotation)">{{annotation.message}}</td>
        <td>{{annotation.createDate | date: 'yyyy-MM-dd hh:mm'}}</td>
        <td>
          <mat-checkbox color="primary"
                        [(ngModel)]="annotation.readed" name="readed" matTooltip="Przeczytano"
                        (change)="annotationReadedChange(annotation)">
          </mat-checkbox>
        </td>
        <td class="remove-icon" matTooltip="Usuń powiadomienie">
          <i class="fa fa-trash" (click)="deleteAnnotation(annotation)"></i>
        </td>
      </tr>
    </ng-container>
  </table>
</ng-container>

<ng-template #noAnnotations>
  <div class="no-annotations">
    Brak dostępnych powiadomień :(
  </div>
</ng-template>
