.no-annotations {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

table, tr {
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: 2fr auto auto auto;
  align-items: center;
}

tr, td {
  max-height: 50px;
}

tr:hover td {
  color: black !important;
}

.unreaded-annotation {
  font-weight: bold;
}

.ureaded-annotation {
  font-weight: normal;
}

.message {
  text-align: left;
  padding: 5px;
}

tr:hover {
  background-color: #dcd9d9;
  border-radius: 10px;
}

.remove-icon {
  width: 40px;
  height: 40px;
}

.remove-icon:hover {
  cursor: pointer;
}

i {
  color: var(--main-color);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

i:hover {
  color: var(--main-color-hover);
}
