<form class="form" [formGroup]="form">

  <h1 class="input-data" style="margin-bottom:3%">Dane kontaktowe</h1>

  <div class="input-data">
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName"
             onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' maxlength="100">
      <mat-error *ngIf="hasFormError('firstName','required')">Pole wymagane
      </mat-error>
      <mat-error *ngIf="hasFormError('firstName','pattern')">Imię musi składać się
        tylko z liter
      </mat-error>
    </mat-form-field>

  </div>

  <div class="input-data">
    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName"
             onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' maxlength="100">
      <mat-error *ngIf="hasFormError('lastName','required')">Pole wymagane
      </mat-error>
      <mat-error *ngIf="hasFormError('lastName','pattern')">Nazwisko musi składać
        się tylko z liter
      </mat-error>
    </mat-form-field>

  </div>

  <div class="input-data">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
      <mat-error *ngIf="hasFormError('email','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('email','email')">Poprawny format adresu
        e-mail np: mail@mail.com
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Pesel</mat-label>
      <input matInput formControlName="pesel" maxlength="11"
             onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
      <mat-error *ngIf="hasFormError('pesel','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('pesel','pattern')">Pesel musi zawierać 11 znaków
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-data">
    <mat-form-field>
      <mat-label>Ulica</mat-label>
      <input matInput type="text" formControlName="street" maxlength="100"/>
      <mat-error *ngIf="hasFormError('street','required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Nr domu</mat-label>
      <input matInput type="text" formControlName="streetNumber" maxlength="100"/>
      <mat-error *ngIf="hasFormError('streetNumber','required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Kod Pocztowy</mat-label>
      <input matInput mask="00-000"
             formControlName="postalCode"/>
      <mat-error *ngIf="hasFormError('postalCode','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('postalCode','pattern')">Poprawny format kodu pocztowego:
        XX-XXX
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Miasto</mat-label>
      <input matInput formControlName="city" maxlength="100"/>
      <mat-error *ngIf="hasFormError('city','required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Numer telefonu</mat-label>
      <input matInput type="text" mask="000 000 000" style="display:inline-block"
             formControlName="phoneNumber"
             onkeypress='return event.charCode >= 48 && event.charCode <= 57'
      />
      <mat-error *ngIf="hasFormError('phoneNumber','required')">Pole wymagane</mat-error>
      <mat-error
        *ngIf="hasFormError('phoneNumber','minlength') || hasFormError('phoneNumber','maxlength')">
        Wymagane 9 cyfr
      </mat-error>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-raised-button class="app-button" name="clear_submit" (click)="updateUserData()">Aktualizuj dane
    </button>
  </div>
</form>
