<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Zaloguj się </h2>

    <form class="form" [formGroup]="form">
      <mat-form-field class="fadeIn second">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        <mat-error *ngIf="hasFormError('email','required')">Pole wymagane</mat-error>
      </mat-form-field>
      <mat-form-field class="fadeIn third">
        <mat-label>Hasło</mat-label>
        <input matInput formControlName="password" type="password"/>
        <mat-error *ngIf="hasFormError('password','required')">Pole wymagane</mat-error>
      </mat-form-field>
      <div class="fadeIn third checkbox-container">
        <mat-label>Zapamiętaj mnie!</mat-label>
        <mat-checkbox color="primary"
                      formControlName="rememberMe">
        </mat-checkbox>
      </div>

      <button mat-raised-button (click)="signInUser()" class="fadeIn fourth app-button">
        Zaloguj się
      </button>
    </form>

    <div id="formFooter">
      <button mat-raised-button [routerLink]="[{ outlets: { nonAuthenticated: ['sign-up'] } }]"
              class="fadeIn fourth app-button">Zarejestruj się
      </button>
      <br>
      <a [routerLink]="[{ outlets: { nonAuthenticated: ['reset-password'] } }]"
         class="nav-link fadeIn fourth underlineHover">Nie pamiętasz hasła?</a>
    </div>

  </div>
</div>
