<form class="form" #form="ngForm" novalidate>

  <h1 class="input-data" style="margin-bottom:3%">Rejestracja</h1>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Imię</mat-label>
      <input matInput [(ngModel)]="user.firstName" name="firstName" type="text" required>
    </mat-form-field>
  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input matInput [(ngModel)]="user.lastName" name="lastName" type="text" required>
    </mat-form-field>
  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email" style="display:inline-block" [(ngModel)]="user.email"
             required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #mail="ngModel"/>
    </mat-form-field>
    <span *ngIf="mail.errors">Poprawny format adresu e-mail np: mail@mail.com</span>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Pesel</mat-label>
      <input matInput type="text" name="pesel" style="display:inline-block" [(ngModel)]="user.pesel"
             required pattern="[0-9]{11}" #pesel="ngModel"/>
    </mat-form-field>
    <span *ngIf="pesel.errors">Pesel musi zawierać 11 znaków</span>
  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" name="password" style="display:inline-block" [(ngModel)]="user.password"
             min="5" required #password="ngModel"/>
    </mat-form-field>
    <span *ngIf="password.errors">Hasło musi mieć min 5 znaków</span>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" name="password2"
             [(ngModel)]="user.password2" #password2="ngModel" min="5"/>
    </mat-form-field>
      <span
        *ngIf="password2.errors || user.password && user.password !== user.password2 ">Hasło muszą do siebie pasować</span>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Ulica</mat-label>
      <input matInput type="text" name="street" [(ngModel)]="user.street"/>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Nr domu</mat-label>
      <input matInput type="text" name="streetNumber" [(ngModel)]="user.streetNumber"/>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Kod Pocztowy</mat-label>
      <input matInput type="text" name="postalCode" mask="00-000" style="display:inline-block" [(ngModel)]="user.postalCode"
              #postalCode="ngModel"/>
    </mat-form-field>
    <span *ngIf="postalCode.errors">Kod pocztowy musi zawierać 6 znaków</span>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Miasto</mat-label>
      <input matInput type="text" name="city" [(ngModel)]="user.city"/>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Numer telefonu</mat-label>
      <input matInput type="text" name="phoneNumber" mask="000 000 000" style="display:inline-block" [(ngModel)]="user.phoneNumber"
             onkeypress='return event.charCode >= 48 && event.charCode <= 57'
             #phoneNumber="ngModel"/>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" name="signup_submit" (click)="clear()"
            style="margin-right:10%">Wyczyść
    </button>
    <button mat-raised-button color="primary" name="clear_submit" (click)="register()"
            [disabled]="form.invalid || user.password != user.password2">Zarejestruj
    </button>
  </div>
</form>
