@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

.form {
  box-sizing: border-box;
  padding: 40px;
  margin:auto;
}

.input-data {
  margin: auto auto 20px;
  max-width:40%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}

.buttons {
  text-align:center;
  width:100%;
  margin:0 auto;
  display:inline-block;
  border-radius: 10px;
}

span {
  color:red;
  font-size:12px;
}

@media(max-width: 600px) {
  .form {
    min-width: 80%;
    margin: auto;
  }
  .input-data {
    max-width: 80%;
    min-width: 80%;
  }
}
