<form class="form" #form="ngForm" novalidate>

  <h1 class="input-data" style="margin-bottom:3%">Zmiana hasła</h1>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" name="password" style="display:inline-block" [(ngModel)]="password"
             min="5" required #passwordForm="ngModel"/>
      <span class="error-span" *ngIf="passwordForm.errors">Hasło musi mieć min 5 znaków</span>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" name="password2"
             [(ngModel)]="password2" #password2Form="ngModel" min="5"/>
      <span class="error-span"
            *ngIf="password2Form.errors || password && password !== password2 ">Hasło muszą do siebie pasować</span>
    </mat-form-field>

  </div>

  <div class="buttons">
    <button mat-raised-button class="app-button" name="clear_submit" (click)="updateUserPassword()"
            [disabled]="form.invalid || password !== password2">Aktualizuj hasło
    </button>
  </div>
</form>
