<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Zaloguj się </h2>

    <form class="form" #form="ngForm" novalidate>
      <mat-form-field class="fadeIn second" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="request.email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </mat-form-field>
      <mat-form-field class="fadeIn third" appearance="fill">
        <mat-label>Hasło</mat-label>
        <input matInput [(ngModel)]="request.password" name="password" type="password" (keyup.enter)="signInUser()" required>
      </mat-form-field>
      <mat-checkbox class="fadeIn third" color="primary"
                    [(ngModel)]="request.rememberMe" name="rememberMe">Zapamiętaj mnie!
      </mat-checkbox>
    </form>

    <button mat-raised-button color="primary" (click)="signInUser()" class="fadeIn fourth" style="margin-bottom:5%"
            [disabled]="form.invalid">
      Zaloguj się
    </button>

    <div id="formFooter">
      <button mat-raised-button color="primary" (click)="signUp()" class="fadeIn fourth">Zarejestruj się
      </button>
      <br>
      <a (click)="resetPassword()" class="fadeIn fourth underlineHover">Nie pamiętasz hasła?</a>
    </div>

  </div>
</div>
