<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>login</mat-label>
  <input matInput [(ngModel)]="username">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>hasło</mat-label>
  <input matInput [(ngModel)]="password">
</mat-form-field>
<mat-checkbox class="example-margin"
              [(ngModel)]="rememberMe">
</mat-checkbox>
<button mat-raised-button color="primary" (click)="signInUser()">Zaloguj się</button>
<button mat-raised-button color="primary" (click)="signUp()">Zarejestruj się</button>
<a href (click)="resetPassword()">Nie pamiętasz hasła?</a>
