<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Resetowanie hasła </h2>

    <form #form="ngForm" novalidate>
      <div>
        <mat-form-field class="fadeIn second" appearance="fill">
          <mat-label>Wpisz hasło</mat-label>
          <input matInput type="text" class="fadeIn second" name="mail" [(ngModel)]="user.password" minlength="5" required>
        </mat-form-field>
        <mat-form-field class="fadeIn second" appearance="fill">
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="text" class="fadeIn second" name="mail" [(ngModel)]="user.password2" minlength="5" required>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="savePassword()" class="fadeIn fourth submit-button"
                [disabled]="form.invalid || user.password !== user.password2">Zapisz nowe hasło
        </button>
      </div>
    </form>

  </div>
</div>
