<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Resetowanie hasła </h2>

    <form #form="ngForm" novalidate>
      <div>
        <mat-form-field class="fadeIn second" appearance="fill">
          <mat-label>Wpisz hasło</mat-label>
          <input matInput type="password" class="fadeIn second" name="mail" [(ngModel)]="password" minlength="5" required>
        </mat-form-field>
        <mat-form-field class="fadeIn second" appearance="fill">
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="password" class="fadeIn second" name="mail" [(ngModel)]="password2" minlength="5" required>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button (click)="savePassword()" class="fadeIn fourth app-button"
                [disabled]="form.invalid || password !== password2">Zapisz nowe hasło
        </button>
      </div>
    </form>

  </div>
</div>
