<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Resetowanie hasła </h2>

    <form #form="ngForm" novalidate>
      <div>
        <mat-form-field class="fadeIn second">
          <mat-label>Wpisz adres e-mail</mat-label>
          <input matInput type="text" class="fadeIn second" name="mail" [(ngModel)]="email" required
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button (click)="resetButton()" class="fadeIn fourth app-button"
                [disabled]="form.invalid">Zresetuj hasło
        </button>
      </div>
    </form>

  </div>
</div>
