h1 {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin: auto auto 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field + mat-form-field {
  margin-left: 8px;
}

mat-form-field + button {
  margin-left: 8px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.button-container {
  padding-top: 10px;
  padding-bottom: 0;
}

.card-header {
  padding: 10px;
}

tr:hover td {
  color: white !important;
}
