<div class="container">
  <h5>Aplikacja HR System.<br></h5>

  Aplikacja powstała w celu rozwoju kompetencji developerskich, a dodatkowo poznania Angular Material'a. Dotychczas
  styczność tylko z PrimeNG :) Aplikacja porusza tematy kadrowo/HR-owe.

  <h6>Główne funkcjonalności aplikacji:</h6>
  <ul>
    <li>Zgłoszenie obecności w pracy</li>
    <li>Powiadomienie użytkowników, że nie zgłosili obecności w pracy (10:00 pon-pt)</li>
    <li>Złożenie wniosków urlopowych</li>
    <li>Akceptacja wniosków urlopowych i wysłanie maila do użytkownika odnośnie zmiany statusu jego wniosku urlopowego</li>
  </ul>

  <h6>Podstawowe:</h6>
  <ul>
    <li>Logowanie i wylogowywanie z aplikacji</li>
    <li>Rejestracja użytkowników</li>
    <li>Reset zapomnianego hasła</li>
    <li>Nadawanie użytkownikom uprawnień</li>
  </ul>

  <h6>W systemie występują następujące uprawnienia użytkowników:</h6>
  <ul>
    <li>Administrator Aplikacji - ma dostęp do wszystkich funkcjonalności</li>
    <li>Pracodawca - ma dostęp do zakładki "Zgłoszenie obecności w pracy", "Wnioski Urlopowe" i "Akceptacja wniosków
      urlopowych"
    </li>
    <li>Przełożony pracownika - ma dostęp do zakładki "Zgłoszenie obecności w pracy", "Wnioski Urlopowe" i "Akceptacja
      wniosków urlopowych"
    </li>
    <li>Pracownik - ma dostęp do zakładki "Zgłoszenie obecności w pracy" i "Wnioski Urlopowe"</li>
  </ul>
</div>
