<form class="form" [formGroup]="form">

  <h1 class="input-data" style="margin-bottom:3%">Zmiana hasła</h1>

  <div class="input-data">
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput type="password" style="display:inline-block" formControlName="password"
             minlength="5"/>
      <mat-error *ngIf="hasFormError('password', 'required')">Pole wymagane</mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field>
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password"
             formControlName="password2" minlength="5"/>
      <mat-error *ngIf="hasFormError('password2', 'required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password2', 'passwordsDontMatch')">Hasła muszą do siebie pasować</mat-error>
    </mat-form-field>

  </div>

  <div class="buttons">
    <button mat-raised-button class="app-button" name="clear_submit" (click)="updateUserPassword()">Aktualizuj hasło
    </button>
  </div>
</form>
