i {
  padding: 10px!important;
}

i:hover {
  cursor: pointer;
  color: var(--main-color-hover);
}

.user-annotation-dialog {
  width: 30%;
  height: auto;
  max-height: 30%;
  position: fixed;
  top: 50px;
  right: 1%;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
  text-align: center;
  z-index: 100;
  overflow: auto;
}
