<form class="form" [formGroup]="form">

  <h1 class="input-data" style="margin-bottom:3%">Rejestracja</h1>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName"
             type="text"
             onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' maxlength="100">
      <mat-error *ngIf="formService.getFirstNameControl().hasError('required')">Pole wymagane
      </mat-error>
      <mat-error *ngIf="formService.getFirstNameControl().hasError('pattern')">Imię musi składać się
        tylko z liter
      </mat-error>
    </mat-form-field>

  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName" type="text"
             onkeypress='return !(event.charCode >= 48 && event.charCode <= 57)' maxlength="100">
      <mat-error *ngIf="formService.getLastNameControl().hasError('required')">Pole wymagane
      </mat-error>
      <mat-error *ngIf="formService.getFirstNameControl().hasError('pattern')">Nazwisko musi składać
        się tylko z liter
      </mat-error>
    </mat-form-field>

  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text" style="display:inline-block" formControlName="email"/>
      <mat-error *ngIf="formService.getEmailControl().hasError('required')">Pole wymagane</mat-error>
      <mat-error *ngIf="formService.getEmailControl().hasError('email')">Poprawny format adresu
        e-mail np: mail@mail.com
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Pesel</mat-label>
      <input matInput type="text" style="display:inline-block" formControlName="pesel" maxlength="11"
             onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
      <mat-error *ngIf="formService.getPeselControl().hasError('required')">Pole wymagane</mat-error>
      <mat-error *ngIf="formService.getPeselControl().hasError('pattern')">Pesel musi zawierać 11 znaków
      </mat-error>
    </mat-form-field>

  </div>

  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" style="display:inline-block" formControlName="password"
             maxlength="100"/>
      <mat-error *ngIf="formService.getPasswordControl().hasError('required')">Pole wymagane</mat-error>
      <mat-error *ngIf="formService.getPasswordControl().hasError('minlength')">Hasło musi mieć min 5 znaków
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password"
             formControlName="password2" maxlength="100"/>
      <mat-error *ngIf="formService.getPassword2Control().hasError('required')">Pole wymagane</mat-error>
      <mat-error *ngIf="formService.getPassword2Control().hasError('minlength')">Hasło musi mieć min 5 znaków
      </mat-error>
      <mat-error
        *ngIf="formService.getPassword2Control().hasError('passwordDoesntMatch')">
        Hasło muszą
        do siebie pasować
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Ulica</mat-label>
      <input matInput type="text" formControlName="street" maxlength="100"/>
      <mat-error *ngIf="formService.getStreetControl().hasError('required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Nr domu</mat-label>
      <input matInput type="text" formControlName="streetNumber" maxlength="100"/>
      <mat-error *ngIf="formService.getStreetNumberControl().hasError('required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Kod Pocztowy</mat-label>
      <input matInput type="text" mask="00-000" style="display:inline-block"
             formControlName="postalCode"/>
      <mat-error *ngIf="formService.getPostalCodeControl().hasError('required')">Pole wymagane</mat-error>
      <mat-error *ngIf="formService.getPostalCodeControl().hasError('pattern')">Poprawny format kodu pocztowego:
        XX-XXX
      </mat-error>
    </mat-form-field>

  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Miasto</mat-label>
      <input matInput type="text" formControlName="city" maxlength="100"/>
      <mat-error *ngIf="formService.getCityControl().hasError('required')">Pole wymagane</mat-error>
    </mat-form-field>
  </div>
  <div class="input-data">
    <mat-form-field appearance="fill">
      <mat-label>Numer telefonu</mat-label>
      <input matInput type="text" mask="000 000 000" style="display:inline-block"
             formControlName="phoneNumber"
             onkeypress='return event.charCode >= 48 && event.charCode <= 57'
      />
      <mat-error *ngIf="formService.getPhoneNumber().hasError('required')">Pole wymagane</mat-error>
      <mat-error
        *ngIf="formService.getPhoneNumber().hasError('minlength') || formService.getPhoneNumber().hasError('maxlength')">
        Wymagane 9 cyfr
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-raised-button class="app-button" (click)="clear()"
            style="margin-right:10%">Wyczyść
    </button>
    <button mat-raised-button class="app-button" (click)="register()" [disabled]="!formService.isFormValid()">
      Zarejestruj
    </button>
  </div>
</form>
