.form {
  box-sizing: border-box;
  padding: 40px;
  margin:auto;
}

.input-data {
  margin: auto auto 20px;
  width: 300px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin: auto auto 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

button {
  width: 300px;
}
