table {
  height: 100%;
}

table,tr,td,cell {
  width: 100%;
  color: white;
  background-color: var(--main-color);
}
tr {
  background-color: var(--main-color);
  padding: 5px;
}

tr:hover,td:hover,cell:hover {
  background-color: var(--main-color-hover);
}

.main-row {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  font-weight: bold;
  padding: 10px;
}

.mat-icon:hover {
  cursor: pointer;
}

.expanded-row {
  display: grid;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.expanded-row:hover {
  cursor: pointer;
}
