<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Resetowanie hasła </h2>

    <form [formGroup]="form">
      <div>
        <mat-form-field class="fadeIn second">
          <mat-label>Wpisz hasło</mat-label>
          <input matInput type="password" class="fadeIn second" formControlName="password" minlength="5">
          <mat-error *ngIf="hasFormError('password', 'required')">Pole wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="fadeIn second">
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="password" class="fadeIn second" formControlName="password2" minlength="5">
          <mat-error *ngIf="hasFormError('password2', 'required')">Pole wymagane</mat-error>
          <mat-error *ngIf="hasFormError('password2', 'passwordsDontMatch')">Hasła muszą do siebie pasować</mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button (click)="savePassword()" class="fadeIn fourth app-button">Zapisz nowe hasło
        </button>
      </div>
    </form>

  </div>
</div>
