<form class="form" [formGroup]="form">

  <h1 class="input-data">Edycja użytkownika</h1>

  <div class="left-right-column-container">

    <div class="left-column">

      <div class="input-data">
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input matInput formControlName="firstName" maxlength="100"/>
          <mat-error *ngIf="hasFormError('firstName', 'required')">Pole wymagane</mat-error>
          <mat-error *ngIf="hasFormError('firstName', 'pattern')">Imię musi składać się
            tylko z liter
          </mat-error>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="lastName" maxlength="100"/>
          <mat-error *ngIf="hasFormError('lastName', 'required')">Pole wymagane</mat-error>
          <mat-error *ngIf="hasFormError('lastName', 'pattern')">Imię musi składać się
            tylko z liter
          </mat-error>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          <mat-error *ngIf="hasFormError('email', 'required')">Pole wymagane</mat-error>
          <mat-error *ngIf="hasFormError('email', 'email')">Niepoprawny format adresu email</mat-error>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Pesel</mat-label>
          <input matInput formControlName="pesel" maxlength="11"/>
          <mat-error *ngIf="hasFormError('pesel', 'required')">Pole wymagane</mat-error>
          <mat-error *ngIf="hasFormError('pesel', 'pattern')">Pesel musi zawierać 11 znaków</mat-error>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Role użytkownika</mat-label>
          <mat-select formControlName="selectedRoles" multiple>
            <mat-option *ngFor="let role of roles" [value]="role.value">{{role.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="right-column">

      <div class="input-data">
        <mat-form-field>
          <mat-label>Ulica</mat-label>
          <input matInput formControlName="street" maxlength="100"/>
          <mat-error *ngIf="hasFormError('street', 'required')">Pole wymagane</mat-error>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Nr domu</mat-label>
          <input matInput formControlName="streetNumber" maxlength="10"/>
          <mat-error *ngIf="hasFormError('streetNumber', 'required')">Pole wymagane</mat-error>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Kod Pocztowy</mat-label>
          <input matInput mask="00-000" formControlName="postalCode" maxlength="6"/>
          <mat-error *ngIf="hasFormError('postalCode', 'required')">Pole wymagane</mat-error>
        </mat-form-field>

      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Miasto</mat-label>
          <input matInput formControlName="city" maxlength="100"/>
          <mat-error *ngIf="hasFormError('city', 'required')">Pole wymagane</mat-error>
        </mat-form-field>
      </div>

      <div class="input-data">
        <mat-form-field>
          <mat-label>Numer telefonu</mat-label>
          <input matInput mask="000 000 000" formControlName="phoneNumber" maxlength="11"
                 onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
          <mat-error *ngIf="hasFormError('phoneNumber', 'required')">Pole wymagane</mat-error>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div class="button-container">
    <button mat-raised-button (click)="cancel()" name="cancel" class="button app-button">Anuluj</button>
    <button mat-raised-button (click)="updateUser()"
            class="button app-button">
      Zapisz
    </button>
  </div>

</form>
